/* Navigation bar styling */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 999;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: darkblue;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  margin-left: 20px;
  font-weight: bold;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #31392b;
  color: #fff;
  padding: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav li.logout {
  margin-left: auto;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}


.nav-link:hover {
  color: rgb(51, 255, 0);
}

.navbar-nav-right {
  margin-left: auto;
}

@media (max-width: 768px) {
  .navbar-nav {
    display: none;
  }

}
